@model AuctionSystem.Web.ViewModels.CreateAuctionViewModel

<div class="modal-header">
    <h5 class="modal-title">Create Auction</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<form id="createForm" method="post" action="@Url.Action("Create", "Auction")">    
    
    <div class="modal-body">

        <div class="form-group">
            <label for="title">Title</label>
            <input name="Title" class="form-control" placeholder="Enter Title">
        </div>
        <div class="form-group">
            <label>Category</label>
            <select class="form-control" name="CategoryID">
                @foreach (var category in Model.Categories)
                {
                    <option value="@category.ID">@category.Name</option>
                }
            </select>
        </div>
        <div class="form-group">
            <label for="description">Description</label>
            <input name="Description" class="form-control" placeholder="Enter Description">
        </div>
        <div class="form-group">
            <label for="amount">Actual Amount</label>
            <input name="ActualAmount" class="form-control" placeholder="Enter Amount">
        </div>
        <div class="form-group">
            <label>Starting Time</label>
            @*<input type="text" class="form-control" name="StartingTime" id="StartingTime" />*@
            <input name="StartingTime" class="form-control" />
        </div>
        <div class="form-group">
            <label>Ending Time</label>
            @*<input type="text" class="form-control" name="EndingTime" id="EndingTime" />*@
            <input name="EndTime" class="form-control" />
        </div>
        
        <div class="form-group">
            <label>Select Pictures</label>
            <input id="auctionPictures" class="form-control" name="AuctionPictures" type="file" multiple />
            <div id="picsArea">

            </div>
            
            <input type="hidden" name="AuctionPictures" id="pictureIDs" />
        </div>
        
    </div>
   
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button class="btn-success" type="button" id="saveButton">Save</button>
    </div>

</form>


<script>
    $("#saveButton").click(function () {
        debugger;
        
        var imageIDs = [];

        $("#picsArea .image").each(function () {

            
            var imageID = $(this).attr("data-id");
            imageIDs.push(imageID);
        })

        $("#pictureIDs").val(imageIDs);


        $.ajax({
                type: 'POST',
                url: '@Url.Action("Create", "Auction")',
                data: $("#createForm").serialize()
            })
            .done(function(response) {

                $('#formModal').modal('toggle');
                $("#listingArea").html(response);
            });
    });

    $("#auctionPictures").change(function() {
        var pictures = this.files;
        var picsData = new FormData();

        for (var i = 0; i < pictures.length; i++) {
            picsData.append("Picture", pictures[i]);
        }

        $.ajax({
            type: 'POST',
            url: '@Url.Action("UploadPictures", "Shared")',
            data: picsData,
            dataType: 'json',
            processData: false,
            contentType: false
            })
            .done(function(responses) {

                for (var i = 0; i < responses.length; i++) {
                    var picResponse = responses[i];

                    AttachNewImage(picResponse.ID,picResponse.URL);
                }
            });
    });

    

</script>