@model AuctionSystem.Entities.Auction

<div class="modal-header">
    <h5 class="modal-title">Edit Auction</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>


<form id="editForm" method="post" action="@Url.Action("Edit", "Auction")">

    <div class="modal-body">
        <input type="hidden" name="ID" value="@Model.ID" />
        <div class="form-group">
            <label>Title</label>
            <input name="Title" value="@Model.Title" />
        </div>
        <div class="form-group">
            <label>Description</label>
            <input name="Description" value="@Model.Description" />
        </div>
        <div class="form-group">
            <label>Actual Amount</label>
            <input name="ActualAmount" value="@Model.ActualAmount" />
        </div>
        <div class="form-group">
            <label>Starting Time</label>
            <input name="StartingTime" value="@Model.StartingTime" />
        </div>
        <div class="form-group">
            <label>Ending Time</label>
            <input name="EndTime" value="@Model.EndTime" />
        </div>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button class="btn-success" type="button" id="saveButton">Save</button>
    </div>

</form>

<script>
    $("#saveButton").click(function() {
        $.ajax({
                type: 'POST',
                url: '@Url.Action("Edit", "Auction")',
                data: $("#editForm").serialize()
            })
            .done(function(response) {

                $('#formModal').modal('toggle'); //to dismiss modal after finish
                $("#listingArea").html(response);
            });
    });
</script>



